[submodule "Thirdparty/tinystl"]
	path = Thirdparty/tinystl
	url = https://github.com/mendsley/tinystl
[submodule "Thirdparty/doctest"]
	path = Thirdparty/doctest
	url = https://github.com/doctest/doctest
[submodule "docs/style/doxygen-awesome-css"]
	path = docs/style/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "Thirdparty/pocketpy"]
	path = Thirdparty/pocketpy
	url = https://github.com/pocketpy/pocketpy.git
[submodule "Thirdparty/--force"]
	path = Thirdparty/--force
	url = https://github.com/pocketpy/pocketpy.git
